<!DOCTYPE html>
<html>
<head>
	<title>TODO List</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>
    <main>
    	   <!--     Application Head        -->
    	<h1 class="borders">TODO App</h1>

    	    <!--     input form section        -->
    	<form method="POST">
    		<div id="desc" class="form-parts borders">
    		<label for="desc">description</label>
    		<input type="text" name="desc" id="desc" placeholder="What do you need to do?" required>
          	</div>
          	<div class="horizonatal-align" id="form-parts-2">
          		<div class="form-parts borders">
          			<label for="category">category</label>
    		        <select id="category" name="category" required>
    		        	<option>personal</option>
    		        	<option>college</option>
    		        	<option>work</option>
    		        	<option>cleaning</option>
    		        	<option>other</option>
    		        </select>
          		</div>
          		<div class="form-parts borders">
          			<label for="dueDate">due date</label>
          			<input type="date" name="dueDate" id="dueDate" required>
          		</div>	
          	</div>
          	<div class="form-parts borders">
                 <div id="button-container" class="horizonatal-align">
                 <button id="add-btn" formaction="/add-task"><i class="fa fa-plus" aria-hidden="true"></i>add task</button>  
                 <button id="del-btn" formaction="/delete-task"><i class="fa fa-trash" aria-hidden="true"></i>delete task</button> 
                 </div>
			</div>
    	</form>

    	    <!--     list Section        -->

    	<div id="list-container">

    		<ul>
				<% mlist = [ "JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC" ];
				for( let i of taskList ) { %>
    			<li class="borders horizonatal-align">
    				<input type="checkbox">
    				<label class="horizonatal-align">
    					<div class="item-desc">
    					<div><%= i.description %></div>
						<div class="item-date"><i class="fa fa-calendar" aria-hidden="true"></i> <%= mlist[i.dueDate.getMonth()] +" "+ i.dueDate.getDay() +", "+i.dueDate.getFullYear()%></div>
    				    </div>
						<div class="category-box" <% let cat= i.category 
						if(cat==="personal")
						{%>
							style="background-color:green"
						<%}
						else if(cat==="work"){%>
                            style="background-color:darkblue"
							<%}else if(cat==="college"){%>
								style="background-color:violet"
								<%}else if(cat==="cleaning"){%>
									style="background-color:blue"
									<%}else{%>
										style="background-color:#4e5d5d"
										<%}%>
						><%= i.category %></div>
    				</label>
				</li>
				<% } %>
    		</ul>

    	</div>
    </main>
</body>
</html>